SetEnv PAYPAL_CLIENT_ID "AWsmog-fSL3oSkpSxMIjimOulWp7k-_KzDrAjKWt7wk5DEe_bx1vcM77iHz2UR0r_NpGjg1PDy0uOOxZ"
SetEnv PAYPAL_CLIENT_SECRET "EOn9W-5zwcSy4Z3YljcFkwriQaobgT9vs8H7sG3rxxpBGCycrlKeraHn_joLqjlM6xHdmcI1Oe7q5MxZ"
